.tictactoe1 {
	background: url("img/board1.png");
	background-repeat: no-repeat;
}
.tictactoe2 {
	background: url("img/board2.png");
	background-repeat: no-repeat;
}
.tictactoe3 {
	background: url("img/board3.png");
	background-repeat: no-repeat;
}
.board {
	position: absolute;
	top: 0;
	left: 0;
}
.square {

}
.winsquare {
	background: green;
}
